a {
   text-decoration:none;
}

canvas.small {
  margin: 2px 2px -7px 2px;
  float: left;
}
canvas.large {
  margin: 2px 2px 2px 2px;
  float: left;
}

div.small {
  margin: 2px 2px 2px 28px;
}
div.large {
  margin: 2px 2px 2px 52px;
}

span.small{
  vertical-align: top;
}
span.large{
  vertical-align: top;
}
